---
layout: default
---

{% comment %}
  Header
{% endcomment %}
<header>
  <h1><span class="guide-title">DTA Design Guide</span>
   {{ page.title }}
 </h1>


  {% comment %}
    Content of the index.md file
  {% endcomment %}
  {{ content }}


  {% comment %}
    Page sections as ordered in front matter in index.md and Headlines signify different parts in our page
    We populate {{ navigation }} with the lis for each section and count {{ headlines }} to see if we have more than one
  {% endcomment %}
  {% assign headlines = 0 %}
  {% for page_section in page.sections %}
    {% if page_section.first[ 0 ] == 'headline' %}
      {% assign headlines = headlines | plus: 1 %}

      {% capture navigation %}
        {{ navigation }}
        <li>
          <a href="#{{ page_section.first[ 1 ] | slugify }}">{{ page_section.first[ 1 ] }}</a>
        </li>
      {% endcapture %}
    {% endif %}
  {% endfor %}


  {% comment %}
    We only show the "In this section" bit if we have more than one headlines available
  {% endcomment %}
  {% unless headlines == 1 %}
    <nav class="index-links">
      <h2>In this section</h2>
      <ul>
        {{ navigation }}
      </ul>
    </nav>
  {% endunless %}

</header>


{% comment %}
  Page sections as ordered in front matter in index.md
{% endcomment %}
{% for page_section in page.sections %}

  {% comment %}
    Display a headline only if we have more than one on the page
    We also save the headline for later possible use in our "code" section
  {% endcomment %}
  {% if page_section.first[ 0 ] == 'headline' %}
    {% assign headline = page_section.first[ 1 ] %}

    {% unless headlines == 1 %}
      <h2 id="{{ headline | slugify }}">{{ headline }}</h2>
    {% endunless %}

    {% continue %}
  {% endif %}


  {% comment %}
    We first check if the relevant md file actually exist,
    then we include it, markdownify it and put it on the page.
  {% endcomment %}
  {% if page_section.first[ 0 ] == 'md' %}
    {% capture section_path %}_{{ page.parent }}/{{ page.section | slugify }}/{% endcapture %}
    {% assign section_filename = page_section.first[ 1 ] | slugify | append: ".md" %}
    {% capture section_filename_exists %}{% file_exists {{ section_filename | prepend: section_path }} %}{% endcapture %}
    {% if section_filename_exists == "true" %}
      {% capture section_filename_contents %}{% include_relative {{ section_filename }} %}{% endcapture %}
      {{ section_filename_contents | markdownify }}
    {% endif %}
    {% assign section_filename_contents = "" %}
  {% endif %}


  {% comment %}
    While using the "code" section we need to have the scss bit first, followed by the markup attribute
  {% endcomment %}
  {% if page_section.first[ 0 ] == 'code' %}
    {% capture scssPath %}{{ page_section.code[ 0 ].scss }}.scss{% endcapture %}
    {% capture markupPath %}templates/{{ page_section.code[ 1 ].markup | slugify }}.html{% endcapture %}

    {% include guide_example.liquid
      title = headline
      markup = markupPath
      sourceFile = scssPath
      sourceLine = "0"
    %}
  {% endif %}

{% endfor %}
