{% include templates/skip-link.html %}

<header role="banner">
  <section class="page-header">
    <div class="wrapper">
      <div class="page-header__logo">
        <a href="/" class="logo">{{ site.title }}
          <span class="uikit--version">{% uikit_version %}</span></a> <span class="badge--beta">beta</span>
      </div>

      <div class="site-nav">
        {% include global_nav.liquid %}
      </div>

    </div>
  </section>

  {% comment %}
    Only show if this is the homepage
  {% endcomment %}
  {% if page.url == '/' %}
    <section class="hero">
      <div class="wrapper">
        <h1>{{ site.title }}</h1>
        <p class="tagline">{{ site.description }}</p>

        {% include feedback.liquid %}
      </div>
    </section>
  {% endif %}

  {% comment %}
    Only show if this if it isn’t the homepage.
  {% endcomment %}
  {% unless page.url == '/' %}
  <nav class="breadcrumbs--inverted" aria-label="breadcrumb">
    {% comment %}
      Our breadcrumb logic is very simple, and runs 2-tiers deep. It assumes the
      usage of Jekyll Collections: https://jekyllrb.com/docs/collections

      The capture is only done for brevity and future re-use.

      The if condition sets the page title to ‘Overview’ if it’s the index page
      for its page.parent.
    {% endcomment %}
    {% capture page_title_slugified %}{{ page.title | slugify }}{% endcapture %}
    <div class="wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/{{ page.parent }}">{{ page.parent | capitalize }}</a></li>
        <li>
          {% if page_title_slugified == page.parent %}
            <a href="/{{ page.parent }}/">
              Overview
            </a>
          {% else %}
            <a href="/{{ page.parent }}/{{ page_title_slugified }}">
              {{ page.title }}
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  {% endunless %}
</header>
